@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap');

/* global styles start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --primary: #19467D;
    --gary: #B0B4B0;
    --error: #A80606;
    --success: #1A8A1A;
}
h1 {
    font-size: 48px;
    font-weight: bolder;
    line-height: 72px;
    margin: 24px 0;
}
.container {
    max-width: 90%;
    margin: 0 auto;
    height: 10vh;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}
/* global styles end */

header {
    background: var(--primary);
}

header a {
    text-decoration: none;
    color: #fff;
}

section {
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 50px;
    overflow: hidden;
}

.form-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

form {
    margin: 32px 0 64px 0;
    padding: 0 16px;
}

form label {
    display: block;
}

form .form-group {
    width: 460px;
    margin-bottom: 16px;
    position: relative;
}

form .form-group img {
    position: absolute;
    top: 50%;
    right: 8px;
}

form .form-group small {
    margin-top: 4px;
    display: block;
    text-align: end;
    margin: 0;
    padding: 0;
    color: var(--error);
    height: 0;
}

form input {
    width: 460px;
    max-width: 460px;
    padding: 8px;
    border: 1px solid var(--gary);
    border-radius: 8px;
    outline-color: var(--success);
}

form .eye {
    cursor: pointer;
}

button {
    background: var(--primary);
    border: 1px solid var(--primary);
    color: #fff;
    height: 39px;
    width: 125px;
    display: block;
    margin: 32px auto 0 auto;
    cursor: pointer;
}

#popup-container {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
}

#popup {
    background: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    transition: 1s ease;
    transform: translateY(-30px);
    min-width: 30%;
    min-height: 30vh;
    padding: 32px;
    transition: all 2s ease-in-out;
    pointer-events: none;
    transform: translateY(30px);
}

 /* javascript styles */
form input.error {
    outline-color: var(--error);
    border: 2px solid var(--error);
}

#popup.active {
  transform: translateY(0px);
  pointer-events: none;
}

#popup-container.active {
  opacity: 1;
  pointer-events: all;
}

/* media query */
@media (max-width: 944px) {
  h1 {
    font-size: 2em;
  }
  section {
    grid-template-columns: 1fr;
  }
  form .form-group, form input {
    width: 100%;
    min-width: 100%;
  }
}