@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap');

/* global styles start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --primary: #19467D;
    --gary: #B0B4B0;
    --error: #A80606;
    --success: #1A8A1A;
}
h1 {
    font-size: 48px;
    font-weight: bolder;
    line-height: 72px;
    margin: 24px 0;
}
.container {
    max-width: 90%;
    margin: 0 auto;
    height: 10vh;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}
/* global styles end */

header {
    background: var(--primary);
}


header a {
    text-decoration: none;
    color: #fff;
}

section {
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 50px;
    overflow: hidden;
}

.form img {
    width: 100%;
}

.bg {
    background: url(./img/1.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    margin-top: -40px;
}

form {
    margin: 32px 0 64px 0;
    padding: 0 16px;
}

form label {
    display: block;
}

form .form-group {
    width: 460px;
    margin-bottom: 16px;
    position: relative;
}

form .form-group img {
    position: absolute;
    top: 50%;
    right: 8px;
}

form .form-group small {
    margin-top: 4px;
    display: block;
    text-align: end;
    margin: 0;
    padding: 0;
    color: var(--error);
}

form input {
    width: 460px;
    max-width: 460px;
    padding: 8px;
    border: 1px solid var(--gary);
    border-radius: 8px;
    outline-color: var(--success);
}

button {
    background: var(--primary);
    border: 1px solid var(--primary);
    color: #fff;
    height: 39px;
    width: 125px;
    display: block;
    margin: 32px auto 0 auto;
    cursor: pointer;
}

 /* javascript styles */
form input.error {
    outline-color: var(--error);
    border: 2px solid var(--error);
}

@media (max-width: 944px) {
  section {
    grid-template-columns: 1fr;
  }
  .bg {
    width: 500px;
    height: 100%;
  }
}